<div id="sidebar-wrapper">
    <ul class="sidebar-nav" style="margin-left:0;">
        <li class="sidebar-brand">
            <a href=""  id="menu-toggle" style="margin-top:20px;float:right;" title="Menu"> <i class="fa fa-bars " style="font-size:20px !Important;" aria-hidden="true" aria-hidden="true"></i> 
        </li>
        {% for page in mainPages %}
            {% if page.slug != 'home' %}
                <li class="sidebar-item"><a class="sidebar-link" href="{{ page.slug }}">{{ page.name }}</a></li>
            {% endif %}
        {% endfor %}
    </ul>
</div>
</div>
