#nav_wrapper {
    padding-left: 0;
    -webkit-transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
    transition: all 0.6s ease;
    
}

#nav_wrapper.toggled {
    padding-left: 200px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 40px;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background-color: var(--black) !important;
   
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#nav_wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    right:15px;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
    > .sidebar-brand {
        height: 50px;
        font-size: 18px;
        a {
            color: #999999;
        }
        a:hover {
            color: var(--white);
            background: none;
        }
    }
}

.sidebar-item {
    text-indent: 25px;
    line-height: 40px;
    width: 225px;
    a {
        display: block;
        text-decoration: none;
        color: #999999;
    }
    a:hover {
        text-decoration: none;
        color: var(--white);
    }
    .sidebar-item a:active,
    .sidebar-item a:focus {
        text-decoration: none;
    }
}

