{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{# @var field \EasyCorp\Bundle\EasyAdminBundle\Dto\FieldDto #}
{# @var entity \EasyCorp\Bundle\EasyAdminBundle\Dto\EntityDto #}
{% if ea.crud.currentAction == 'index' %}
    {% set images = field.formattedValue %}
    {% if images is not iterable %}
        {% set images = [images] %}
    {% endif %}

    {% for image in images %}
        {% if image is not empty %}
            {% set html_id = 'ea-lightbox-' ~ field.uniqueId ~ '-' ~ loop.index %}
            <div id="{{ html_id }}">
                <img src="{{ image|resolve_media }}" alt="Image" style="width:100px">
            </div>
        {% endif %}
    {% endfor %}
{% endif %}
