:root {
    --black: #202020;
    --white: #f2f2f2;
    --bg-black: #202020d9;
    --bg-white: #f2f2f2;
}

.bg--black, .bg--white {
    text-align: center;
    width: 100%;
    padding: 100px 25px;
}

@media screen and (max-width: 768px) {
    .bg--black, .bg--white {
        padding: 50px 25px;
    }
}

.text--black {
    color: var(--black) !important;
}

.text--white {
    color: var(--white) !important;
}

.bg--black {
    background-color: var(--bg-black) !important;
}

.bg--white {
    background-color: var(--bg-white) !important;
}
