<!DOCTYPE html>
<html lang="{{ app.request.attributes.get('_locale') }}">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{{ app.request.attributes.get('site_title') }}{% endblock %}</title>
    {# <link rel="icon" href="logo/fav.ico"> #}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    {% block easy_page_head_metas %}{% endblock %}

    {% block stylesheets %}
        <link href="https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;600;700&display=swap" rel="stylesheet">
    {% endblock %}
</head>
<body>
    {% block body %}
            {% block header %}
                {% include 'navigations/header.html.twig' %}
            {% endblock %}

            <div id="mainContent">
                {% block easy_page_page_content %}

                {% endblock %}
            </div>

        {# Modal Static frame tag #}
        {# {% include '_modal.html.twig' %} #}

        {% block footer %}
            {% include 'navigations/footer.html.twig' %}
        {% endblock %}

        {% block javascripts %}{% endblock %}
    {% endblock %}
</body>
</html>
