{% extends '@EasyAdmin/page/content.html.twig' %}

{% block head_stylesheets %}
	{{ parent() }}
	<style>
		a.nav-link {
			font-size: 16px;
		}
		a.nav-link, .totalYear {
			font-weight: bold !important;
		}
		.table-title {
			padding: 10px 15px;
			margin-bottom: 10px;
		}
		.table-title h4 {
			padding: 0 !important;
			margin: 0 0 0 10px !important;
			color: white !important;
		}
		th,
		td {
			padding: 5px 15px;
			border-bottom: 1px solid rgb(202, 202, 202);
		}
		th {
			text-align: center;
		}
	</style>
{% endblock %}

{% block content_header_wrapper %}{% endblock %}

{% block main %}
	{{ block('page_content') }}

	<div class="container mt-4">
		<!-- Nav tabs -->
		<ul class="nav nav-tabs">
			<li class="nav-item bg-light">
				<a class="nav-link active px-5" data-bs-toggle="tab" href="#pieces">Pièce</a>
			</li>
			<li class="nav-item bg-light">
				<a class="nav-link px-5" data-bs-toggle="tab" href="#bilan">Bilan</a>
			</li>
		</ul>

		<!-- Tab panes -->
		<div class="tab-content">
			<div class="tab-pane container active pt-4" id="pieces">
				{% include "admin/dashboard/_index_tab_play.html.twig" %}
			</div>
			<div class="tab-pane container fade pt-4" id="bilan">
				{% include "admin/dashboard/_index_tab_bilan.html.twig" %}
			</div>
		</div>
	</div>

{% endblock %}
